.home{
    margin-top: var(--padding);
    color: black;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.message{
    margin: auto;
    margin-top: 2rem;
    font-size: 20px;
    padding-bottom: 4px;
    border-radius: 6px;
    color: red;
}
